// ===== COLOR
$color-dark: #0a3a7f;
$color-light: #72b8fd;

// ===== TITLE
$title-1: 1.8em;
$title-2: 1.5em;
$title-3: 1.3em;
$title-4: 1.1em;

// ===== BOX
$box-border: 1px solid black;
$box-radius: 0.3em;
$box-shaow: 0 0 0.7em 0.05em $color-dark;

// ===== TRANSITION
$transition-time: 0.3s;
